Authlib==1.2.0
fastapi==0.95.1
Jinja2==3.1.2
pydantic==1.10.4
sqladmin==0.10.3
SQLAlchemy==1.4.46
starlette==0.26.1
uvicorn==0.21.1
itsdangerous==2.1.2
python-dotenv==0.21.1
python-multipart==0.0.6
mysql-connector-python==8.0.33
dash~=2.9.3
Flask~=2.3.2
pandas~=2.0.1