<html>
    <head>
        <title>Hello from Rasoi Box!</title>
    </head>
    <body>
        <h2>Hello from Rasoi Box!</h2>
        <p>
            Hi {{ first_name }},
            <br />
            <br />
            We are so excited you have taken the first step to join the Rasoi Box community! Please complete the process by
            opening the following link and verifying your email:
            <br />
            <br />
            {{ verification_link }}
            <br />
            <br />
            Thanks!
            <br />
            <br />
            Team Rasoi Box
        </p>
    </body>
</html>